.project-form {
  background: #2b332f;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.project-form input,
.project-form textarea{
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.project-form button {
  background-color: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.project-form button:hover {
  background-color: #055518;
}