.search-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 100%;
  max-width: 600px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: 2px solid #eee;
  border-radius: 50px; /* Pill shape */
  outline: none;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #055518;
}